#div1{
    color: green;
    font-size: 40px;
    width: 400px;
}

#div2{
    color: green;
    font-size: 30px;
    width: 300px;
}

#div3{
    color: green;
    font-size: 20px;
    width: 200px;
}
div{
    background-color: #6fc9d3;
}