@media only screen and (max-width: 633px) {
	.header{
		width:100%;
		height:15%;
		padding:0;
		margin: 0;
	}
	.h_logo{
		position: absolute;
	    width: 17.75%;
	    height: 5.001%;
	    top: 4.75%;
	    left: 15%;
	}   
	.h_text{
	    position: absolute;
	    width: 35.25%;
	    height: 2.91%;
	    top: 10%;
	    left: 15.57%;
	    display: block;
	}  
	.content{
		width: 72%;
		height: 78%;
	}
	.c_left,.c_right{
		width: 100%;
		height: 50%;
	}
	.content .c_left div,.content .c_right div{
		margin: 0.5%;
	}
	.cl_link1,.cl_link3,.cl_link5,.cr_link2,.cr_link4,.cr_link6{
		width: 61%;
		height: 32.55655%;
	}
	.cl_link2,.cl_link4,.cl_link6,.cr_link1,.cr_link3,.cr_link5{
		width: 36%;
		height: 32.55655%;
	}
	.footer img{
		width: 100%;
		height: 100%;
	}
	.footer{
	width: 60%;
	margin: 5% auto 2%;
	text-align: center;
	}
}