.wrap{
    background: url("../img/img1/bg.png")no-repeat;
    background-size:100% 100%;
    position: relative;
}
.text1{
    width: 71%;
    height: 14.44933%;
    position: absolute;
    left: 11.79577%;
    top: 12.58802%;

    animation: text1Show 1s;
}
@keyframes text1Show {
    from{
        transform: scale3d(0, 0, 0);
    }

    50%{
        transform: scale3d(0, 0, 0);
    }

    55%, 60% {
        transform: scale3d(.9, .9, .9);
    }

    70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    80% {
        transform: scale3d(1, 1, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
.text2{
    width: 97%;
    height: 18.48591%;
    position: absolute;
    left: 0;
    top: 25.353%;

    animation: swing 1s;
}
.startBtn{
    width: 36.5625%;
    height: 20.59859%;
    position: absolute;
    left: 30.3125%;
    top: 59.15492%;

    animation: startPointMove 1s linear infinite;
}
@keyframes startPointMove {
    from{
        transform: scale3d(1, 1, 1);
    }

    50%{
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
.startPoint{
    width: 14.0625%;
    height: 6.86619%;
    position: absolute;
    left: 58.125%;
    top: 69.19014%;

}

.btnBg{
    /*590 135*/
    width: 92.9%;
    height: 11.79577%;
    position: absolute;
    left: 4.375%;
    top: 83.97887%;
    background: url("../img/img1/四个按钮背景.png")no-repeat;
    background-size:100% 100%;
}
.btn0{
    /*128 92*/
    width: 21.69491%;
    height: 68.14814%;
    margin-left: 2.54237%;
    margin-top: 2.5%;
}


.userInfo{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.7);
    display: none;
}
.fillInfo{
    width: ;
    height: ;
    position: absolute;
    left: ;
    top: ;
}